* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #6a1b9a;
    color: white;
    padding: 50px 0;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

section {
    margin: 50px 0;
}

h3 {
    font-size: 2em;
    color: #6a1b9a;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

p {
    font-size: 1.1em;
}


.profile-photo {
    width: 150px; /* Adjust the size to your preference */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits the circular frame */
    border: 3px solid #fff; /* Optional: adds a border around the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
  }
  